# PHASE 1 FINAL PROJECT

### INTRODUCTION
Microsoft has seen other companies have success in the movie industry and has decided to open its movie studio. It however knows nothing about the movie industry. It has decided to hire you as a Data Scientist to determine the type of films which are most popular at the Box Office. You are then supposed to convert your findings into actionable insights which you are supposed to give to the head of the new movie studio of Microsoft.

### OBJECTIVES
The objective of this project is to:
- Analyse data to determine the type of films which do best at the box office.
- Transform findings to actionable insights to give to head of new Microsoft movie studios.
- Use findings to come up with 3 recommendations with visualisations which is to be given to the head of the movie studio.

## BUSINESS UNDERSTADING

This is the thorough understanding of the problem at hand, so that the respective Data Scientist/scientists can come up with a solution that effectively solves the problem. The business understanding of a Data Science problem is split into various parts which are:
1. Problem Statement
2. Measure of success

### PROBLEM STATEMENT
This is the problem in which as a Data Scientist one is trying to solve. In the case of this project by **Microsoft**, the issue is to determine the type of movies doing best at the box office. The Data Scientist is to then use his findings to provide actionable insights in the form of three recommendations with visualisations. The head of Microsoft's new movie studio is to then use these findings, to know which type of movies to make.

### MEASUREMENT OF SUCCESS
This is the measure of success of the project in relation to the problem statement and the business understanding. For this particular problem here is our measurement of success. To uncover actionable insights through exploratory data analysis (EDA) to identify the types of films that have achieved the highest levels of success at the box office. Success will be measured by analyzing various factors such as box office revenue, audience ratings, genre popularity, and critical acclaim. The goal of this analysis, is to gain a comprehensive understanding of the characteristics and attributes that contribute to a movie's success. This will enable Microsoft's new movie studio to make informed decisions about the types of films they should produce. The success of the project will be reflected in the quality and relevance of the insights generated, which will provide valuable guidance for Microsoft's strategic planning in the movie industry.

## DATA UNDERSTANDING
Data Understanding is a crucial phase in the Data Science process where the Data Scientist dives deep into the available data, aiming to gain a comprehensive understanding of its characteristics, quality, and relevance to the defined problem. This involves exploring the data, identifying patterns and trends, assessing data quality and completeness, and gaining insights that will inform subsequent steps in the analysis. By thoroughly understanding the data, the Data Scientist can make informed decisions on how to preprocess, analyze, and model the data to extract meaningful insights and solve the problem effectively.

For the problem we are trying to solve this can involve several steps as shown below:

### 1. Familiarising ourselves with the data.

For the problem at hand, the data relevant to the question was split into two parts. A database file called **im.db** which is a database of movies released with the following relevant tables:
- Movie Basics
- Movie ratings
- Directors
- Writers

The second part are three csv files:
- bom.movie_gross.csv
- rt.reviews.tsv
- title.ratings.csv

Other data has been provided if needed for further analysis.

### 2. Importing libraries
We then load the libraries that are to be used.

In [1]:
# Importing libraries
import pandas as pd
import sqlite3

### 3. Loading the data
Finally we load the data itself to see what we are dealing with

In [3]:
# Connecting to the database
conn = sqlite3.connect(r'C:\Users\USER\Desktop\database\im.db')

In [4]:
# Seeing the tables in the database
pd.read_sql('SELECT * FROM sqlite_master;', conn)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [6]:
# First the relevant tables in the im.db database
movie_basics = pd.read_sql('SELECT * FROM movie_basics;', conn)
movie_ratings = pd.read_sql('SELECT * FROM movie_ratings;', conn)
directors = pd.read_sql('SELECT * FROM directors;', conn)
writers = pd.read_sql('SELECT * FROM writers;', conn)

# Then the relevant csv files
gross_data = pd.read_csv('bom.movie_gross.csv')
ratings_data = pd.read_csv('title.ratings.csv')
budgets_data = pd.read_csv('tn.movie_budgets.csv')

# Checking one of the tables in the database to see if the connection was successful.
movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

## DATA PREPARATION

Data preparation is an essential step following data understanding in the Data Science cycle. It involves preparing the data for analysis through meticulous data cleaning tasks. The key objectives of data preparation include:

- **Removing outliers**: Identification and removal of data points that deviate significantly from the overall distribution, as they can adversely impact analysis results.

- **Handling missing values**: Thoroughly checking for missing values and employing appropriate strategies to handle them, such as imputation techniques or assessing the suitability of the missing data for analysis.

- **Identifying and resolving duplicates**: Identifying and removing duplicate records to ensure data integrity and avoid bias in analysis outcomes.

- **Assessing columns with excessive missing values**: Evaluating columns with a substantial number of missing values and determining their relevance to the analysis. Dropping columns that are not essential or exploring alternative strategies for handling missing data.


- **Correcting data types**: Verifying and correcting the data types of variables to align them with their intended representation (e.g., converting numerical data from strings to numeric types).

Data preparation is an iterative and time-consuming process, as it aims to refine the data into an optimal state before analysis. By addressing data quality issues and standardizing formats data preparation ensures that subsequent analysis yields accurate and reliable insights.

For the data at hand we shall now begin the process of data cleaning for each table stated in the Data Understanding section.

Starting with the tables from the im.db database

 ## 1. Movie Basics

**First we handle the missing values**

In [45]:
# Looking at the general info of the table
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [46]:
# Checking for missing values
movie_basics.isnull().sum()  # runtime_minutes, genres and original_title have missing values

movie_id               0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [67]:
# Dropping the runtime minutes as it has too many null values and there is no correlation between how long a movie is and its success at the box office
# movie_basics.drop(['runtime_minutes'], axis=1, inplace=True)
movie_basics  # Column has been dropped

,movie_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,Documentary

In [80]:
# Now the genres column is a bit tricky since the goal is to determine what type of films do best at the box office.
# Finding percentage of missing values in genre column

# First isolating the missing values using filtering
missing_values = movie_basics['genres'][movie_basics['genres'].isnull()]

# Then finding the total no divided by the total no of the whole column then multiplying by 100.
percentage_missing = (len(missing_values) / len(movie_basics['genres'])) * 100

# Printing our results
print('The percentage of missing values is',percentage_missing,'%')

The percentage of missing values is 3.7004598204510617 %

In [82]:
 # Since the value of missing values is only 3.7% of the missing data in the 'genres' column we can just drop rows with missing values.
# movie_basics.dropna(subset=['genres'], inplace=True)
movie_basics  # Rows with missing values have been dropped

,movie_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
146138,tt9916428,The Secret of China,The Secret of China,2019,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,Comedy
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,Documentary

In [83]:
# Checking to see if all missing values are removed
movie_basics.isnull().sum()

movie_id          0
primary_title     0
original_title    2
start_year        0
genres            0
dtype: int64

In [95]:
most_frequent_genre = movie_basics['original_title'].mode()[0]
movie_basics.fillna({'original_title': most_frequent_genre}, inplace=True)

In [96]:
# Checking to see if all missing values are still there
movie_basics.isnull().sum()  # No more missing values.

movie_id          0
primary_title     0
original_title    0
start_year        0
genres            0
dtype: int64

In [ ]:
# No more missing values

**Then we handle the duplicates**

In [101]:
duplicates = movie_basics[movie_basics.duplicated()]
duplicates  # No duplicates in this table.

Empty DataFrame
Columns: [movie_id, primary_title, original_title, start_year, genres]
Index: []

In [102]:
# There are no duplicates

**We now want to correct the datatypes**

In [103]:
# Checking the dtypes of each column in the movie_basics table.
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140736 entries, 0 to 146143
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   movie_id        140736 non-null  object
 1   primary_title   140736 non-null  object
 2   original_title  140736 non-null  object
 3   start_year      140736 non-null  int64
 4   genres          140736 non-null  object
dtypes: int64(1), object(4)
memory usage: 6.4+ MB

In [121]:
# Isolating datatypes which do not conform to the datatypes for each column in the table
# Starting with the movie_id column
wrong_movie_id = [x for x in movie_basics['movie_id'] if type(x) != str]
print(wrong_movie_id)  # No wrong datatypes

# Then the primary title column
wrong_primary_title = [x for x in movie_basics['primary_title'] if type(x) != str]
print(wrong_primary_title)  # No wrong primary primary_title

# Then the original title
wrong_original_title = [x for x in movie_basics['original_title'] if type(x) != str]
print(wrong_original_title)  # No wrong original title

# Then the start year
wrong_start_year = [x for x in movie_basics['start_year'] if type(x) != int]
print(wrong_start_year)  # No wrong start year

# And finally the genres column
wrong_genre_type = [x for x in movie_basics['genres'] if type(x) != str]
print(wrong_genre_type)  # No wrong genres

[]
[]
[]
[]
[]

In [20]:
# In conclusion the table movie_basics has no wrong data types in each of its columns.

## 2. Movie ratings

**1.First we handle the missing values**

In [122]:
# Looking at the general info of the table
movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [123]:
# Checkig for missing values
movie_ratings.isnull().sum()  # No missing values

movie_id         0
averagerating    0
numvotes         0
dtype: int64

In [124]:
# No missing values

**2. Then the duplicates**

In [125]:
duplicates = movie_ratings[movie_ratings.duplicated()]
duplicates

Empty DataFrame
Columns: [movie_id, averagerating, numvotes]
Index: []

In [126]:
# No duplicates

**3. Correcting data types**

In [128]:
# Looking at the Dtypes of each column in the movie_ratings table
movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [134]:
# Isolating datatypes which do not conform to the datatypes for each column in the table
# Starting with the movie_id column
wrong_movie_id = [x for x in movie_ratings['movie_id'] if type(x) != str]
print(wrong_movie_id)  # No wrong datatype

# Then the average rating 
wrong_rating = [x for x in movie_ratings['averagerating'] if type(x) != float]
print(wrong_rating)

# Then the numvotes
wrong_votes = [x for x in movie_ratings['numvotes'] if type(x) != int]
print(wrong_votes)

[]
[]
[]

In [ ]:
# There are no wrong datatypes in this data.

**4. Removing outliers**

In [19]:
# Starting with the averagerating column

#  Finding the lower quantile
Q1 = movie_ratings['averagerating'].quantile(0.25)

# Finding the upper quantile
Q3 = movie_ratings['averagerating'].quantile(0.75)

# Finding IQR
IQR = Q3 - Q1

# Defining the lower bound and upper bound
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print(lower_bound)

# Finding outliers
outliers = movie_ratings[(movie_ratings['averagerating'] < lower_bound) | (movie_ratings['averagerating'] > upper_bound)]
print('The number of outliers is', len(outliers))
print(len(outliers))

# Data without outliers
standardized_ratings = movie_ratings['averagerating'][(movie_ratings['averagerating'] > lower_bound) & (movie_ratings['averagerating'] < upper_bound)]
print(len(standardized_ratings))

2.6499999999999995
The number of outliers is 1172
1172
72684

In [17]:
# Then the numvotes column

# Lower quantile
Q1 = movie_ratings['numvotes'].quantile(0.25)

# Upper quantile
Q3 = movie_ratings['numvotes'].quantile(0.75)

# Finding IQR
IQR = Q3 - Q1

# Defining the lower bound and upper bound
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)

# Finding outliers
outliers = movie_ratings[(movie_ratings['numvotes'] < lower_bound) | (movie_ratings['numvotes'] > upper_bound)]
print(len(outliers))

# Data without outliers
standardized_numvotes = movie_ratings['numvotes'][(movie_ratings['numvotes'] > lower_bound) & (movie_ratings['numvotes'] < upper_bound)]
print(len(standardized_numvotes))

11758
62089

In [21]:
# Since I'm not sure on the effect of outliers on the data I'm gonna keep a copy with and without outliers and compare the two during analysis for now let us continue with data cleaning.

 ## 4. Directors

### 1. Handling missing values

### Looking at general info of the table.
directors.info()

In [23]:
# Looking for missing values
directors.isnull().sum()

movie_id     0
person_id    0
dtype: int64

In [24]:
# No missing values

### 2. Handling duplicates

In [25]:
directors[directors.duplicated()]

         movie_id   person_id
3       tt0835418   nm0151540
9       tt0996958   nm2286991
11      tt0999913   nm0527109
12      tt0999913   nm0527109
13      tt0999913   nm0527109
...           ...         ...
291155  tt8976710   nm1639277
291160  tt8992390   nm0504267
291161  tt8992390   nm0504267
291162  tt8992390   nm0504267
291168  tt8999892  nm10122247

[127639 rows x 2 columns]

In [26]:
# There are duplicates yes but its possible for several movies to have the same directors.

### 3. Correcting data types